* {
    padding: 0;
    margin: 0;
}

.banner-wrap {
    width: 100%;
    color: white;
    font-size: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D9D9D9;
}

.banner-wrap img {
    width: 100%;
}

.contents-wrap {
    padding: 50px 140px;
    border-bottom: 1px solid #D9D9D9;
}

.contents-wrap img {
    width: 200px;
    height: 280px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
}

.today-book-title {
    text-align: center;
}

.today-book-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 100px 0;
}

.best-seller-title {
    text-align: center;
}

.best-seller-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 100px 0;
}

.best-seller-item,
.today-book-item {
    cursor: pointer;
    width: 210px;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-list-title {
    text-align: start;
    margin-bottom: 30px;
}

.book-list-title a {
    text-decoration: none; /* 밑줄 제거 */
    color: black;
}

.best-seller-item p,
.today-book-item p {
    max-width: 100%;
    font-weight: bold;
    font-size: 17px;
    padding: 3px 7px;
    overflow-y: hidden;
}

.best-seller-item span,
.today-book-item span {
    max-width: 100%;
    padding: 0 7px;
    overflow-y: hidden;
}

.best-seller-item img,
.today-book-item img {
    max-width: 100%;
    margin: 10px 0;
}

