* {
    padding: 0;
    margin: 0;
}

.contents-wrap {
    width: 100%;
    display: flex;
}

.side {
    width: 25%;
    text-align: center;
    padding: 50px 0;
}

.side .profile {
    margin-bottom: 20px;
}

.side .nickname {
    margin-bottom: 10px;
}

.side button {
    background-color: white;
    border: 1px solid #D9D9D9;;
    border-radius: 5px;
    padding: 5px 15px;
}

.main {
    width: 75%;
    padding: 50px 40px 50px 0;
}

.main div {
    margin-bottom: 30px;
}

.order-detail-meta-wrap {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
}

.order-detail-book-wrap {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
}

.order-deliver-status {
    border-left: 1px solid #D9D9D9;
    padding: 0 20px;
}

.order-deliver-status button {
    background-color: #B0C2FF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.order-detail-book-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-detail-info-wrap {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 20px;
}